<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524249214108-48csopb8kn3jsh0f7gptb81bdn6tgf56.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524249214108-48csopb8kn3jsh0f7gptb81bdn6tgf56</string>
	<key>API_KEY</key>
	<string>AIzaSyC2aL9X4tb-ExNzHpnrMcVPKO57ZCukJHI</string>
	<key>GCM_SENDER_ID</key>
	<string>524249214108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.collegeapp</string>
	<key>PROJECT_ID</key>
	<string>collegeapp-34282</string>
	<key>STORAGE_BUCKET</key>
	<string>collegeapp-34282.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524249214108:ios:c5eb788d14fed981e1d159</string>
</dict>
</plist>